@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
	scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $background-color;
    color: $text-color;
}

// MAIN
main{
    margin-top: 100px;
}
// IMG RESET
img{
    width: 100%;
}
// UL / A RESETS
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}
//TITLES
.about-title , .titles , .about-title-blue, .about-title-yellow{
    font-family: 'DM Serif Display', serif;
}